@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;500&display=swap');
*{
    font-family: 'Rokkitt', serif;
}
h1{
    font-size: 40px;
}
.button{
    background-color: #E4857F;
    border-style: none;
    font-size: 32px;
    width: 304px;
    height: 57px;
    left: 28px;
    margin-top: 10px;
    
}
.forma-pozicija{
    margin-top: 10px;
}
.label1{
    text-align: left;
}
.logoReg img{  
    margin-top:10px;
    width: 200px;
    height: 180px;
    left: 134px;
    top: 14px;
}
.logoLog img{  
    margin-top:10px;
    width: 340px;
    height: 300px;
    left: 134px;
    top: 14px;
}
.ruter {
    margin-top:100px;
}